<mat-card>
     
    <div class="mat-body">
        Hey there, how are you doing today? please type your answer below..
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Sample Edit field</mat-label>
        <input matInput placeholder="Placeholder"> 
    </mat-form-field>
    
    <mat-divider class="footer"></mat-divider>
    <mat-card-footer class="footer-submit">
        <button mat-raised-button color="primary" routerLink="/acknowledge">Submit</button>
    </mat-card-footer>
   
</mat-card>