<div><mat-card class="example-card" routerLink="/form1" (click)="setTitle(1)">
    <mat-card-header>
      <mat-card-title>{{title1}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>This place holder adds description to the above survey</p>
    </mat-card-content>
</mat-card>

<mat-card class="example-card" routerLink="/form2" (click)="setTitle(2)">
    <mat-card-header>
      <mat-card-title>{{title2}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>This place holder adds description to the above survey</p>
    </mat-card-content>
</mat-card>

<mat-card class="example-card" routerLink="/form3" (click)="setTitle(3)">
    <mat-card-header>
      <mat-card-title>{{title3}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>This place holder adds description to the above survey</p>
    </mat-card-content>
</mat-card>
<button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <mat-icon>add</mat-icon>
</button>
</div>