
.toolbar {
  
    height: 180px;
    display: flex;
    align-items: center;
    background-color: #009899;
    color: white;
    font-weight: bold;
  }
  .mat-headline-5 {
    font-weight: 400;
    margin: auto;
    font-size: 32px;
  }

  .page-content{
    height: calc( 100% - 180px);
    width: 100%;
   
  }

  .footer {
    height: 65px;
    position: sticky;
    width: 100%;
    bottom: 0px;
    background-color: lightcyan;
  }