
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 180px;
    display: flex;
    align-items: center;
    background-color: #009899;
    color: white;
    font-weight: 300;
  }
  .mat-headline-5 {
    font-weight: 300;
    margin: 20px auto 80px;
  }